.purchases-modal{
    position: fixed;
    top: 70px;
    bottom: 0;
    right: 0;
    background: #FFFF;
    box-shadow: 2px 2px 8px rgba(0,0,0,3);
    padding: 10px;
    width: 350px;
    transform: translateX(350px);
    transition: 1s;
}

.open{
    transform: translateX(0);
}